.footer {
    width: 100%;
    height: 134px;
    color: #fff;
    background: #1d000d;
}

.footer_content {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_menu ul {
    font-size: 13px;
    display: flex;
    gap: 20px;
}

.footer_menu ul li {
    list-style: none;
    transition: 0.5s;
}
.footer_menu ul li:hover {
    color: #C52D2F;
}

.text {
    font-size: 15px;
}

.socialProject_links {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}
a {
    text-decoration: none;
    color: #fff;
}

.socials {
    display: flex;
    gap: 5px;
}